{% extends 'base_list.html' %}

{% block title %}Classifications{% endblock %}
{% block page_title %}Classifications{% endblock %}

{% block add_url %}classifications{%endblock%}
{% block view_url%}classifications{% endblock %}
{% block update_url%}classifications{% endblock %}
{% block delete_url%}classifications{% endblock %}

{% block table_header %}
	<tr>
		<th>Product</th>
		<th>Classification</th>
		<th>Primary</th>
		<th>From</th>
		<th>Thru</th>
	</tr>
{% endblock table_header %}

{% block row %}
	<td>{{object.product.name}}</td>
	<td>{{object.category_type.description}}</td>
	<td>{{object.primary}}</td>
	<td>{{object.from_date}}</td>
	<td>{{object.thru_date}}</td>
{% endblock row %}
{% block empty_row %}
	<td colspan="5">There are no classifications.</td>
{% endblock empty_row %}
