{% extends "base_confirm_delete.html"%}
{% block title%}Delete Classification - {{object.product.name}}{% endblock%}
{% block page_title%}Delete Classification - {{object.product.name}}{% endblock%}
{% block fields%}
	<!-- categoryclassification_confirm_delete.html begin -->
	<tr>
		<th>Product</th>
		<td>{{object.product.name}}
	</tr>
	<tr>
		<th>Classification</th>
		<td>{{object.category_type.description}}
	</tr>
	<tr>
		<th>Primay</th>
		<td>{{object.primary}}
	</tr>
	<tr>
		<th>From</th>
		<td>{{object.from_date}}
	</tr>
	<tr>
		<th>Thru</th>
		<td>{{object.thru_date}}
	</tr>
	<tr>
		<th>Comment</th>
		<td>{{object.comment}}
	</tr>
</table>
	<!-- categoryclassification_confirm_delete.html end -->
{% endblock fields %}

{% block cancel_link %}/products/classifications{% endblock cancel_link %}
