{% extends "base_detail.html"%}
{% block title%}Category - {{object.product.name}}{% endblock%}
{% block page_title%}Category - {{object.product.name}}{% endblock%}
{% block fields%}
	<!-- categoryclassification_detail.html begin -->
	<tr>
		<th>Product</th>
	<td>{{object.product.name}}
	</tr>
	<tr>
		<th>Category</th>
		<td>{{object.category_type.description}}
	</tr>
	<tr>
		<th>Primay</th>
		<td>{{object.primary}}
	</tr>
	<tr>
		<th>From</th>
		<td>{{object.from_date}}
	</tr>
	<tr>
		<th>Thru</th>
		<td>{{object.thru_date}}
	</tr>
	<tr>
		<th>Comment</th>
		<td>{{object.comment}}
	</tr>
	<!-- categoryclassification_detail.html end -->
{% endblock fields%}

{% block done_url %}/products/categories{% endblock done_link %}
