{% extends "base.html"%}
{% block title%}Category - {{object.product.name}}{% endblock%}
{% block page_title%}Category - {{object.product.name}}{% endblock%}
{% block content%}
	<table>
		<tr>
			<th>Product</th>
			<td>{{object.product.name}}
		</tr>
		<tr>
			<th>Category</th>
			<td>{{object.category_type.description}}
		</tr>
		<tr>
			<th>Primay</th>
			<td>{{object.primary}}
		</tr>
		<tr>
			<th>From</th>
			<td>{{object.from_date}}
		</tr>
		<tr>
			<th>Thru</th>
			<td>{{object.thru_date}}
		</tr>
		<tr>
			<th>Comment</th>
			<td>{{object.comment}}
		</tr>
	</table>
	<a href="/products/categories" class="btn btn-primary">Done</a>
{% endblock %}
