{% extends 'base_list.html' %}

{% block title %}Categories{% endblock %}
{% block page_title %}Categories{% endblock %}

{% block add_url %}categories{%endblock%}
{% block view_url%}categories{% endblock %}
{% block update_url%}categories{% endblock %}
{% block delete_url%}categories{% endblock %}

{% block table_header %}
	<tr>
		<th>Product</th>
		<th>Category</th>
		<th>Primary</th>
		<th>From</th>
		<th>Thru</th>
	</tr>
{% endblock table_header %}

{% block row %}
	<td>{{object.product.name}}</td>
	<td>{{object.category_type.description}}</td>
	<td>{{object.primary}}</td>
	<td>{{object.from_date}}</td>
	<td>{{object.thru_date}}</td>
{% endblock row %}
{% block empty_row %}
	<td colspan="5">There are no categories.</td>
{% endblock empty_row %}
