{% extends 'base_detail.html' %}

{% block title %}Estimated Product Cost{% endblock %}
{% block page_title %}Estimated Product Cost{% endblock %}
{% block fields %}
	<!-- estimatedproductcost_detail.html begin -->
	<tr>
		<th >From</th>
		<td>{{ object.from_date }}</td>
	</tr>
	<tr>
		<th >Thru</th>
		<td>{{ object.thru_date }}</td>
	</tr>
	<tr>
		<th >Cost</th>
		<td>{{ object.cost }}</td>
	</tr>
	<tr>
		<th >Feature</th>
		<td>{{ object.feature }}</td>
	</tr>
	<tr>
		<th >Product</th>
		<td>{{ object.product }}</td>
	</tr>
	<tr>
		<th >Kind</th>
		<td>{{ object.kind}}</td>
	</tr>
	<tr>
		<th >Area</th>
		<td>{{ object.geographic_boundary }}</td>
	</tr>
	<tr>
		<th >Organization</th>
		<td>{{ object.organization }}</td>
	</tr>
{% endblock fields %}
{% block done_url%}/products/costing{%endblock%}
