{% extends 'base_list.html' %}

{% block title %}Price Component{% endblock %}
{% block page_title %}Price Component{% endblock %}
{%block add_url %}pricing{% endblock %}
{%block view_url %}pricing{% endblock %}
{%block update_url %}pricing{% endblock %}
{%block delete_url %}pricing{% endblock %}

{%block table_header %}
	<!-- pricecomponent_list.html begin -->
	<tr>
		<th rowspan="2">From</th>
		<th rowspan="2">Thru</th>
		<th rowspan="2">Price / Percent</th>
		<th rowspan="2">Product</th>
		<th rowspan="2">Area</th>
		<th rowspan="2">Party Type</th>
		<th rowspan="2">Product Category</th>
		<th colspan="2">Quantity Break</th>
		<th colspan="2">Order Value</th>
		<th rowspan="2">Sales Type</th>
		<th rowspan="2">Pricing Organization</th>
		<th rowspan="2">Feature</th>
		<th rowspan="2">Part</th>
	</tr>
	<tr>
		<th>From</th>
		<th>Thru</th>
		<th>From</th>
		<th>Thru</th>
	</tr>
	<!-- pricecomponent_list.html end -->
{% endblock table_header %}

{% block row %}
	<!-- pricecomponent_list.html begin -->
	<td>{{ object.from_date|date:"y/n/d" }}</td>
	<td>{{ object.thru_date|date:"y/n/d" }}</td>
	<td>{% if object.price %}
		{{object.currency}} {{ object.price }}
		{% else %}
		{{ object.percent }}</td>
		{% endif %}
	<td>{{ object.product.name }}</td>
	<td>{{ object.area }}</td>
	<td>{{ object.party_type }}</td>
	<td>{{ object.product_category }}</td>
	<td>{{ object.quantity_break.from_quantity }}</td>
	<td>{{ object.quantity_break.thru_quantity }}</td>
	<td>{{ object.order_value.from_value }}</td>
	<td>{{ object.order_value.thru_value }}</td>
	<td>{{ object.sales_type }}</td>
	<td>{{ object.specified_for }}</td>
	<td>{{ object.feature }}</td>
	<td>{{ object.par }}</td>
	<!-- pricecomponent_list.html end -->
{% endblock row %}

{% block empty_row %}
	<td colspan="19">There are no price components.</td>
{% endblock empty_row %}
