{% extends "base_list.html" %}

{% block table_header %}
	<tr>
		<th>Name</th>
		<th>Comment</th>
		<th>Introduction Date</th>
		<th>Sales Discontinuation Date</th>
		<th>Support Discontinuation Date</th>
	</tr>
{% endblock table_header %}

{% block row %}
	<td>{{object.name}}</td>
	<td>{{object.comment}}</td>
	<td>{{object.introduction_date}}</td>
	<td>{{object.sales_discontinuation_date}}</td>
	<td>{{object.support_discontinuation_date}}</td>
{% endblock row %}

{% block empty_row %}
	<td colspan="5">There are no products</td>
{% endblock empty_row %}
