{% extends "base_form.html" %}
{% block extra_fields %}
	<!-- product_form.html begin -->
	<div class="tabable">
		<ul id="product_tabs" class="nav nav-tabs">
		  <li class="active"><a href="#product_category_pane">Categories</a></li>
			<li><a href="#product_price_component_pane">Price Components</a></li>
			<li><a href="#product_feature_pane">Features</a></li>
			{% block post_tabs %}
			{% endblock post_tabs %}
		</ul>
		<div class="tab-content">
			<div id="product_category_pane" class="tab-pane active">
				<h2>Categories</h2>
				{% include "formtools/inline_formset.html" with forms=category_list %}	
			</div>
			<div id="product_price_component_pane" class="tab-pane">
				<h2>Price Components</h2>
			</div>
			<div id="product_feature_pane" class="tab-pane">
				<h2>Feature</h2>
			</div>
			{% block post_tab_panes %}	
			{% endblock post_tab_panes %}	
		</div>
	<!-- product_form.html begin -->
{% endblock extra_fields %}

{% block more_footer_javascript_include %}
	<!-- product_form.html begin -->
	<script src="{{ STATIC_URL}}js/jquery.formset.js"></script>
	<!-- product_form.html end -->
{% endblock more_footer_javascript_include %}
{% block footer_javascript %}
	<!-- product_form.html begin -->
	<script type="text/javascript">
		$('#product_tabs a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})
		$('#{{category_list.prefix}}_table tbody tr').formset({
			prefix:'{{category_list.prefix}}',
			addCssClass:'btn',
			deleteCssClass:'btn',
			addText:'Add Another',
			deleteText:'Delete'
		})
		{% block tab_javascript %} 
		{% endblock tab_javascript %} 
	</script>
	<!-- product_form.html end -->
{% endblock footer_javascript%}
