<!-- product_confirm_delete.html begin -->
<table>
	<tr>
		<th>Name:</th>
		<td>{{product.name}}</td>
	</tr>
	<tr>
		<th>Comment:</th>
		<td>{{product.comment}}</td>
	</tr>
	<tr>
		<th>Introduction Date:</th>
		<td>{{product.introduction_date}}</td>
	</tr>
	<tr>
		<th>Sales Discontinuation Date:</th>
		<td>{{product.sales_discontinuation_date}}</td>
	</tr>
	<tr>
		<th>Support Discontinuation Date:</th>
		<td>{{product.support_discontinuation_date}}</td>
	</tr>
</table>
<form id="delete-{{good_or_service}}-form" method="post" action="">
	{% csrf_token %}
	<button class="btn btn-primary" type="submit">Delete</button>
	<a class="btn" href="/products/{{good_or_service}}">Cancel</a>
</form>
<!-- product_confirm_delete.html end -->
