{% extends "base_detail.html" %}
{% block fields %}
	<tr>
		<th>Name:</th>
		<td>{{object.name}}</td>
	</tr>
	<tr>
		<th>Comment:</th>
		<td>{{object.comment}}</td>
	</tr>
	<tr>
		<th>Introduction Date:</th>
		<td>{{object.introduction_date}}</td>
	</tr>
	<tr>
		<th>Sales Discontinuation Date:</th>
		<td>{{object.sales_discontinuation_date}}</td>
	</tr>
	<tr>
		<th>Support Discontinuation Date:</th>
		<td>{{object.support_discontinuation_date}}</td>
	</tr>
{% endblock fields %}
{% block extra_fields %}
	<!-- product_detail.html begin -->
	<div class="tabable">
		<ul id="product_tabs" class="nav nav-tabs">
		  <li class="active"><a href="#product_category_pane">Categories</a></li>
			<li><a href="#product_price_component_pane">Price Components</a></li>
			{% block post_tabs %}
			{% endblock post_tabs %}
		</ul>
		<div class="tab-content">
			<div id="product_category_pane" class="tab-pane active">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Category Type</th>
							<th>From Date</th>
							<th>Thru Date</th>
							<th>Primary</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						{% for category in category_list %}
							<tr>
								<td>{{category.category_type.description}}</td>
								<td>{{category.from_date}}</td>
								<td>{{category.thru_date}}</td>
								<td>{{category.primary}}</td>
								<td>{{category.comment}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="product_price_component_pane" class="tab-pane">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th rowspan="2">From</th>
							<th rowspan="2">Thru</th>
							<th rowspan="2">Price / Percent</th>
							<th rowspan="2">Area</th>
							<th rowspan="2">Party Type</th>
							<th rowspan="2">Product Category</th>
							<th colspan="2">Quantity Break</th>
							<th colspan="2">Order Value</th>
							<th rowspan="2">Sales Type</th>
							<th rowspan="2">Pricing Organization</th>
							<th rowspan="2">Feature</th>
							<th rowspan="2">Part</th>
						</tr>
						<tr>
							<th>From</th>
							<th>Thru</th>
							<th>From</th>
							<th>Thru</th>
						</tr>
					</thead>
					<tbody>
						{% for price in object.pricecomponent_set.all %}
							<tr>
								<td>{{price.from_date|date:"y/n/d"}}</td>
								<td>{{price.thru_date|date:"y/n/d"}}</td>
								<td>
									{% if price.price %}
										{{price.currency}} {{price.price}}
									{% else %}
										{{price.percent}}
									{% endif %}
								</td>
								<td>{{price.area}}</td>
								<td>{{price.party_type}}</td>
								<td>{{price.product_category}}</td>
								<td>{{price.quantity_break.from_quantity}}</td>
								<td>{{price.quantity_break.thru_quantity}}</td>
								<td>{{price.quantity_break.from_value}}</td>
								<td>{{price.quantity_break.thru_value}}</td>
								<td>{{price.sales_type}}</td>
								<td>{{price.specified_for}}</td>
								<td>{{price.feature}}</td>
								<td>{{price.par}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% block post_tab_panes %}	
			{% endblock post_tab_panes %}	
		</div>
	<!-- product_detail.html end -->
{% endblock extra_fields %}
{% block footer_javascript %}
	<!-- product_detail.html begin -->
	<script type="text/javascript">
		$('#product_tabs a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})
	</script>
{% endblock footer_javascript %}

