{% extends "base.html" %}

{% block title %}Service{% endblock %}
{% block page_title %}Service{% endblock %}
{% block css %}
	<!-- service_form.html begin -->
	{{ form.media.css }}
	<!-- service_form.html end -->
{% endblock %}
{% block content %}
	<!-- service_form.html begin -->
	<form action="" method="post">
		{% include "formtools/forms.html" with form=form %}	
		<div class="tabable">
			<ul id="service_tabs" class="nav nav-tabs">
			  <li class="active"><a href="#category_pane">Categories</a></li>
				<li><a href="#price_component_pane">Price Components</a></li>
				<li><a href="#feature_pane">Features</a></li>
			</ul>
			<div class="tab-content">
				<div id="category_pane" class="tab-pane active">
					<h2>Categories</h2>
					{% include "formtools/inline_formset.html" with forms=category_list %}	
				</div>
				<div id="price_component_pane" class="tab-pane">
					<h2>Price Component</h2>
				</div>
				<div id="feature_pane" class="tab-pane">
					<h2>Feature</h2>
				</div>
			</div>
		<input id="save_button" type="submit" value="Save"/>
	</form>
{% endblock %}
{% block footer_javascript_include %}
	<!-- service_form.html begin -->
	{{ form.media.js }}
	<script src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
	<!-- service_form.html end -->
{% endblock %}
{% block footer_javascript %}
	<!-- service_form.html begin -->
	<script>
		$('#{{category_list.prefix}}_table tbody tr').formset({
			prefix:'{{category_list.prefix}}',
			addCssClass:'btn',
			deleteCssClass:'btn',
			addText:'Add Another',
			deleteText:'Delete'
			})
		$('#service_tabs a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})
	</script>
	<!-- service_form.html end -->
{% endblock %}
