{% extends 'products/pricecomponent_list.html' %}

{% block title %}Surcharges{% endblock %}
{% block page_title %}Surcharges{% endblock %}
{%block add_url %}surcharges{% endblock %}
{%block view_url %}surcharges{% endblock %}
{%block update_url %}surcharges{% endblock %}
{%block delete_url %}surcharges{% endblock %}

{% block base_price_tab_active%}{% endblock %}
{% block discount_component_tab_active%}{% endblock %}
{% block surcharge_component_tab_active%}active{% endblock %}
{% block manufactureres_suggested_price_tab_active%}{% endblock %}
{% block one_time_charge_tab_active%}{% endblock %}
{% block recurring_charge_tab_active%}{% endblock %}
{% block utilization_charge_tab_active%}{% endblock %}


{% block empty_row %}
	<td colspan="19">There are no surcharges.</td>
{% endblock empty_row %}

