.add {
	background-image:url(/img/silk/add.png) !important;
}
.delete {
	background-image:url(/img/silk/delete.png) !important;
}
.option {
	background-image:url(/img/silk/plugin.png) !important;
}
.remove {
 	background-image:url(/img/silk/delete.png) !important;
}
.save {
 	background-image:url(/img/silk/save.png) !important;
}
.yes {
	background-image: url(../img/silk/accept.png) !important;
	background-repeat:no-repeat !important;
}	
.no {
	background-image: url(../img/silk/cancel.png) !important;
	background-repeat:no-repeat !important;
}	
