<div class="span-20">
	{{ category_formset.management_form }}
	<table>
		<caption>Categories</caption>
		<thead>
			<tr>
				<th>{{ category_formset.empty_form.category_type.label_tag}}</th>
				<th>{{ category_formset.empty_form.from_date.label_tag}}</th>
				<th>{{ category_formset.empty_form.thru_date.label_tag}}</th>
				<th>{{ category_formset.empty_form.primary.label_tag}}</th>
				<th>{{ category_formset.empty_form.comment.label_tag}}</th>
			</tr>
		</thead>
		<tbody>
			{% for form in category_formset.forms %}
			<tr>
				<td> {% for field in form.hidden_fields %}{{field}}{% endfor %}{{ form.category_type }}</td>
				<td>{{ form.from_date}}</td>
				<td>{{ form.thru_date}}</td>
				<td>{{ form.primary}}</td>
				<td>{{ form.comment}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="span-20">
	{{ supplier_formset.management_form }}
	<table>
		<caption>Suppliers</caption>
		<thead>
			<tr>
				<th>{{ supplier_formset.empty_form.party.label_tag}}</th>
				<th>{{ supplier_formset.empty_form.available_from.label_tag}}</th>
				<th>{{ supplier_formset.empty_form.available_thru.label_tag}}</th>
				<th>{{ supplier_formset.empty_form.standard_lead_time_in_days.label_tag}}</th>
				<th>{{ supplier_formset.empty_form.preference.label_tag}}</th>
				<th>{{ supplier_formset.empty_form.rating.label_tag}}</th>
			</tr>
		</thead>
		<tbody>
			{% for form in supplier_formset.forms %}
			<tr>
				<td>{% for field in form.hidden_fields %}{{field}}{% endfor %}{{ form.organization }}</td>
				<td>{{ form.available_from}}</td>
				<td>{{ form.available_thru}}</td>
				<td>{{ form.standard_lead_time_in_days}}</td>
				<td>{{ form.rating}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
