{% extends "products/template.html" %}

{% block title %}Goods &amp; Services{% endblock %}

{% block content %}
	<div class="span-20 last">
		<form action="" method="post">
			<div class="span-20">
				<div class="span-5">{{form.name.label_tag}}</div>
				<div class="span-10">{{form.name}}</div>
			</div>
			<div class="span-20">
				<div class="span-5">{{form.comment.label_tag}}</div>
				<div class="span-10">{{form.comment}}</div>
			</div>
			<input class="push-7" type="submit" value="Save"/>
		</form>

{% endblock %}
