{% extends "products/template.html" %}

{% block title %}Good{% endblock %}

{% block content %}
	<div class="span-20 last">
		<form action="save" method="post">
			<div class="span-20 {% if product_form.name.errors%} error {% endif %}">
				<div class="span-5">{{product_form.name.label_tag}}</div>
				<div class="span-15 last">
					{{product_form.name}}
					{{product_form.name.errors}}
				</div>
			</div>
			<div class="span-20">
				<div class="span-6">{{product_form.introduction_date.label_tag}}</div>
				<div class="span-6">{{product_form.sales_discontinuation_date.label_tag}}</div>
				<div class="span-6 last">{{product_form.support_discontinuation_date.label_tag}}</div>
			</div>
			<div class="span-20">
				<div class="span-6 {% if product_form.introduction_date.errors %} error {% endif %}">
					{{product_form.introduction_date}}
					{{product_form.introduction_date.errors}}
				</div>
				<div class="span-6 {% if product_form.sales_discontinuation_date.errors %} error {% endif %}">
					{{product_form.sales_discontinuation_date}}
					{{product_form.sales_discontinuation_date.errors}}
				</div>
				<div class="span-6 last {% if product_form.support_discontinuation_date.errors %} error {% endif %}">
					{{product_form.support_discontinuation_date}}
					{{product_form.support_discontinuation_date.errors}}
				</div>
			</div>
			<div class="span-20">
				<div class="span-5">{{product_form.manufactured_by.label_tag}}</div>
				<div class="span-15 last">
					{{product_form.manufactured_by}}
					{{product_form.manufactured_by.errors}}
				</div>
			</div>
			<div class="span-20" >
				<div class="span-5">{{product_form.comment.label_tag}}</div>
				<div class="span-10">{{product_form.comment}}</div>
				<div class="span-4">{{product_form.comment.errors}}</div>
			</div>
			<div class="span-20">
				{{ category_formset.management_form }}
				<table>
					<caption>Categories</caption>
					<thead>
							<tr>
								<th>{{ category_formset.empty_form.category_type.label_tag}}</th>
								<th>{{ category_formset.empty_form.from_date.label_tag}}</th>
								<th>{{ category_formset.empty_form.thru_date.label_tag}}</th>
								<th>{{ category_formset.empty_form.primary.label_tag}}</th>
								<th>{{ category_formset.empty_form.comment.label_tag}}</th>
							</tr>
					</thead>
					<tbody>
						{% for form in category_formset.forms %}
							<tr>
								<td>{{ form.category_type }}</td>
								<td>{{ form.from_date}}</td>
								<td>{{ form.thru_date}}</td>
								<td>{{ form.primary}}</td>
								<td>{{ form.comment}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="span-20">
				{{ supplier_formset.management_form }}
				<table>
					<caption>Suppliers</caption>
					<thead>
							<tr>
								<th>{{ supplier_formset.empty_form.organization.label_tag}}</th>
								<th>{{ supplier_formset.empty_form.available_from.label_tag}}</th>
								<th>{{ supplier_formset.empty_form.available_thru.label_tag}}</th>
								<th>{{ supplier_formset.empty_form.standard_lead_time_in_days.label_tag}}</th>
								<th>{{ supplier_formset.empty_form.preference.label_tag}}</th>
								<th>{{ supplier_formset.empty_form.rating.label_tag}}</th>
							</tr>
					</thead>
					<tbody>
						{% for form in supplier_formset.forms %}
							<tr>
								<td>{{ form.organization }}</td>
								<td>{{ form.available_from}}</td>
								<td>{{ form.available_thru}}</td>
								<td>{{ form.standard_lead_time_in_days}}</td>
								<td>{{ form.rating}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<input class="push-7" type="submit" value="Save"/>
			{% csrf_token %}
		</form>

{% endblock %}
