<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/silk_sprite.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/silk.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/screen.css" media="screen, projection"/>
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/print.css" media="print"/>
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css"  />	
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.16.custom.min.js"></script>
  <title>NSFW Enterprises, LLC - {% block title %}##### REPLACE ME IN TEMPLATE #####{% endblock %}</title>
  <script>
    $(function() {
    $( ".dateFieldPicker" ).datepicker({
    changeMonth: true,
    changeYear: true
    });
    });
    {% block javascript %}{% endblock %}
  </script>
</head>
<body >
  <div class="container showgrid">
		<div id="mainMenu" class="span-24">
			<div class="prepend-1 span-3">
				<a href="/">NSFW Enterprises</a>
			</div>
			<div class="span-1">
				CRM
			</div>
			<div class="span-1">
				VRM
			</div>
			<div class="span-2">
				<a href="/products/goods">Inventory</a>
			</div>
			<div class="span-2">
				<a href="/products/services">Services</a>
			</div>
			<div class="span-2">
				Sales Orders
			</div>
			<div class="span-2">
				Sales Invoices
			</div>
			<div class="span-2">
				Accounting
			</div>
			<div class="span-2">
				Purchase Orders
			</div>
			<div class="span-2">
				Purchase Invoices
			</div>
			<div class="span-1">
				CMS
			</div>
			<div class="span-2">
				<a href="/business">Business</a>
			</div>
		</div>
		{% block subMenu %}{% endblock %}
    <div class="span-24">
			<h1>{% block pageTitle %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div><!-- main span-24 div -->
  </div>
</body>
</html>
