<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>NSFW Enterprises, LLC - {% block title %}##### REPLACE ME IN TEMPLATE #####{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/silk_sprite.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/silk.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen, projection"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css" type="text/css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" media="screen, projection"/>
   {% block css %}
   {% endblock %}
	<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/jquery-ui-1.8.21.custom.min.js"></script>
  {% block javascript %}
  {% endblock %}
</head>
<body >
	<div id="mainMenu" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand">NSFW Enterprises</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="#">CRM</a></li>
						<li><a href="#">VRM</a></li>
						<li id="good_services_menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Goods &amp; Services
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/products/goods">Goods</a></li>
								<li><a href="/products/services">Services</a></li>
								<li><a href="/products/categories">Categorization</a></li>
								<li><a href="/products/pricing_components">Pricing</a></li>
								<li><a href="/products/costing">Costing</a></li>
								<li><a href="/products/parts">Parts</a></li>
							</ul><!-- dropdown-menu -->
						</li><!-- servicesMenu -->
						<li><a href="#">Sales Orders</a></li>
						<li><a href="#">Sales Invoices</a></li>
						<li><a href="#">Accounting</a></li>
						<li><a href="#">Purchase Orders</a></li>
						<li><a href="#">Purchase Invoices</a></li>
						<li><a href="#">CMS</a></li>
						<li id="businessMenu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Business
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/business">Organization</a></li>
								<li><a href="/business/setup">Setup</a></li>
							</ul> <!-- dropdown-menu -->
						</li><!-- businessMenu -->
					</ul> <!-- nav -->
				</div> <!-- nav-collapse -->
			</div><!-- container -->
		</div> <!-- navbar-inner -->
	</div> <!-- mainMenu -->
	<div class="container ">
		<h1>{% block page_title %} ##### page_title ####{% endblock %}</h1>
		{% block content %}{% endblock %}
	</div> <!-- container -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
	{% block footer_javascript_include %}
	{% endblock footer_javascript_include %}
	{% block footer_javascript %}
	{% endblock footer_javascript %}
</body>
</html>
